<ul>
    <li>
        <%= link_to 'Home', '/' %>
    </li>
    <li>
        <%= link_to 'Lieu', '/place' %>
    </li>
    <li>
        <%= link_to 'Hébergements', '/housing' %>
    </li>
    <li>
        <%= link_to 'Programme', '/program' %>
    </li>
    <li>
        <%= link_to 'Photos', '/pictures' %>
    </li>
    <li>
        <%= link_to 'RSVP', '/rsvp' %>
    </li>
    <li>
        <%= link_to 'Liste de Mariage', '/presentsList' %>
    </li>
</ul>